@import '../variable';
@import '../mixins/buttons-mixins';
@import '../mixins/global-mixins';

.news__form {
    padding: 2rem;
    box-shadow: $boxShadow;
    background-color: $lavender;
    border-radius: $glRadius;
    max-width: 60rem;
    margin: 0 auto;
    &:not(:last-child) { margin-bottom: 2.4rem; }
}

.news__title {
    font-size: 2.8rem;
    font-weight: 700;
    &:not(:last-child) { margin-bottom: 1.6rem; }
}

.news__select_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    &:not(:last-child) {margin-bottom: 1.2rem;}

}

.news__select_wrap {

}

.news__select_field {
    display: inline-flex;
    padding: 0.4rem;
    width: 100%;

    border: 1px solid $gray;
    border-radius: 0.4rem;
}

.news__label {
    display: block;
    font-size: 1.4rem;

    &:not(:last-child) { margin-bottom: 0.8rem; }
}

.news__select {
    width: 100%;
    font-size: 1.4rem;
}

.news__input_wrap {
    &:not(:last-child) { margin-bottom: 1.2rem; }
}

.news__input {
}

.news__btn_wrap {

}

.news__btn {
    @include btn_size_normal;
    @include btn_style_blue;
    box-shadow: $boxShadow;
}

.news__posts {
   display: grid;
   gap: 1.6rem;

   @include bp($laptop, min) {
       grid-template-columns: repeat(3, 1fr);
    }

    @include bp($laptop, $tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include bp($tablet) {
        grid-template-columns: 1fr;
   }

    &.hidden {
        display: none;
    }
}

.news_item {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;

    box-shadow: $boxShadow;
    border-radius: $glRadius;
    background-color: $white;
}

.news_item__pic {
    display: block;
    aspect-ratio: 1 / 0.6;
    overflow: hidden;

    &:not(:last-child) { margin-bottom: 1.4rem; }
}

.news_item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    will-change: transform;
    transition: transform 1s ease;

    .news_item:hover & {
        transform: scale(1.1);
    }
}

.news_item__content {
    flex: auto;
    &:not(:last-child) {margin-bottom: 1.2rem;}
}

.news_item__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $gray;
    &:not(:last-child) {margin-bottom: 1.2rem;}
}
.news_item__text {
    font-size: 1.6rem;
    line-height: 1.4;
    color: $gray;
}

.news_item__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news_item__bottom_text {
    padding-left: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $orange;
}

.news_item__date {
    font-size: 1.2rem;
    font-weight: 700;
    color: $black;
}

.news__message_wrap {
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.4);
    transition: opacity 0.3s ease;
    backdrop-filter: blur(4px);

    &:not(.visible) {
        opacity: 0;
        pointer-events: none;
    }
}

.news__message {
    display: inline-flex;
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    background-color: $red;
    color: $black;
    border-radius: 0.4rem;
    box-shadow: $boxShadow;
}
