:root {	

	@include bp($laptop, min) {
		--gl-indent: 4rem;
		--height-header: 6rem;
	}

	@include bp($laptop) {
		--gl-indent: 2rem;
		--height-header: 5rem;
	}
}

html {
	height: 100%;
	font-family: $font_1;
	line-height: 1.33;	

	@include bp($laptop, min) {
		font-size: calc(100vw / 1200 * 10);
	}
	
	@include bp($laptop, $small) {
		font-size: 10px;
	}
	
	@include bp($small) {
		font-size: calc(100vw / 375 * 10);
	}

}

body {
	position: relative;
	display: block;

	height: 100%;
	margin: auto;
	color: $colorTextBase;	

	&.body--open_menu_state {
		overflow: hidden;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	background-color: $bodyBg;

	flex: 1 0 auto;
}

.section {
	position: relative;
	min-height: 100vh;

	@include bp($tablet, min) {
		padding: 5rem var(--gl-indent);
	}

	@include bp($tablet) {
		padding: 3rem var(--gl-indent);
	}
}

[class*="__container"] {
	width: 100%;
	max-width: $pageWidth;
	margin: 0 auto;
}

.spinner__wrap {
	display: flex;
	align-items: center;
	justify-content: center;

	&:not(.active) {
        display: none;
    }
}

.spinner {
	width: 5rem;
	height: 5rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' width='200' height='200' style='shape-rendering: auto; display: block;' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cg transform='rotate(0 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.9166666666666666s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(30 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.8333333333333334s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(60 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.75s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(90 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.6666666666666666s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(120 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.5833333333333334s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(150 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.5s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(180 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.4166666666666667s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(210 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.3333333333333333s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(240 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.25s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(270 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.16666666666666666s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(300 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='-0.08333333333333333s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(330 50 50)'%3E%3Crect fill='%23fe718d' height='12' width='6' ry='6' rx='3' y='24' x='47'%3E%3Canimate repeatCount='indefinite' begin='0s' dur='1s' keyTimes='0;1' values='1;0' attributeName='opacity'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C!-- %5Bldio%5D generated by https://loading.io --%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;    
}
